<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/index.css">
        
    </head>
    <body onmousemove="mousecoordinates(event);">
        <script src="/static/index.js"></script>
        <div id="container" onmouseenter="reset();" style="width: 100%;height: 100%;">
            
            <img id="sourceimg" src={{byte_im}} width={{w}} height={{h}} style="visibility: hidden;"/>
            <canvas id="source" width={{w}} height={{h}} onclick="draw();" style="position: fixed;"></canvas>
            <div id="moveimglistner" style="position: absolute; width: 100%;height: 100%;top: 0%;left: 0%;" onclick="moveimg();"></div>
            <div id="selector" onmousemove="selector();" onclick="snapshot();" style="position: fixed;"></div>
            <div id="settings">
                <div id="moveimg" onclick="moveimgenable();"><p class="txt">Move Image</p></div>
                <p id="label">Box Size: </p>
                <input type="text" id="selectorsize" onchange="changeselectorsize();">
                <div id="saveexit" onclick="savejson()"><p class="txt">Save and Exit</p></div>
                <div id="eraseon" onclick="erasemodeon()"><p class="txt">Erase</p></div>
                <p id="label2" style="position: absolute;top: 30%;left: 50%;">Fade Factor: </p>
                <input id="ff" type="text" width="6" style="position: absolute;top: 40%;left: 55%;" onchange="ffupdate();">
                <p id="label3" style="position: absolute;top: 30%;left: 70%;">Eraser Size: </p>
                <input id="erasersize" type="text" width="6" style="position: absolute;top: 40%;left: 75%;">
            </div>
                
                
        </div>
        <div id="msg"><p class="txt">Close the tab if not auto-closed</p></div>
    </body>
</html>